<title>Books</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>

</head>

<body>
<!--<h1>Papirus book store</h1>-->

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#bookstore">Bookstore</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<div class="icon">
  <img src="1.jpg" width="30" height="30">
</div>



