<router-outlet></router-outlet>

<div class="ui center aligned header" style="margin-top: 20px; color: rgb(32, 50, 81) ">
  <h3 style="font-size: 16pt"> For More Info</h3>
  <h1 style="font-size: 35pt; margin-top: -10px; margin-bottom: 100px"> CONTACT US </h1>
</div>

<div class="ui center aligned container" style="margin-top: 30px; background-color: rgb(242, 242,242)">
  <div class="ui three column doubling stackable grid container" style="color: rgb(32, 50, 81); background-color:rgb(242, 242, 242); padding: 20px">
    <div class="column" style="padding: 10px; font-size: 18pt;">
        <h2>Store 01</h2>
        <h3>Address</h3>
        <h3>500 Terry Francois St. </h3>
        <h3>SF, CA 94158</h3>
        <h3>Tel</h3>
        <h3>123-456-7890</h3>
        <h3>Email</h3>
        <h3>info@my-domain.com</h3>
    </div>
    <div class="column" style="padding: 10px;  font-size: 18pt;">
        <h2>Store 02</h2>
        <h3>Address</h3>
        <h3>500 Terry Francois St. </h3>
        <h3>SF, CA 94158</h3>
        <h3>Tel</h3>
        <h3>123-456-7890</h3>
        <h3>Email</h3>
        <h3>info@my-domain.com</h3>
    </div>
    <div class="column" style="padding: 10px; font-size: 18pt;">
        <h2>Customer service</h2>
        <h3>Tel</h3>
        <h3>1-800-000-0000</h3>
        <h3>Email</h3>
        <h3>info@my-domain.com</h3>
    </div>
  </div>
  <form class="ui form" style="background-color: rgb(242, 242, 242); margin-top: 25px;">
      <div class="ui horizontal list">
          <div class="item">
            <input type="text" placeholder="Name" style="width: 545px">
          </div>
          <div class="item">
            <input type="text" placeholder="Email" style="width: 543px">
          </div>
      </div>
      <div class="field" style="margin-left: 10px; margin-right: 10px;">
        <textarea rows="2"></textarea>
      </div>
      <button class="ui button" type="submit" style="margin-bottom: 5px;">Send</button>
    </form>
</div>