<router-outlet></router-outlet>

<div class="ui center aligned header" style="margin-top: 40px; color: rgb(32, 50, 81) ">
  <h3 style="font-size: 16pt"> Our</h3>
  <h1 style="font-size: 35pt; margin-top: -10px; margin-bottom: 100px"> STORY </h1>
</div>

<div class="ui center aligned container" style="margin-top: 50px; background-color: rgb(242, 242, 242);">
  <div class="ui two column doubling stackable grid container">
      <div class="column">
        <div class="ui piled segment" style=" margin-top: 310px;">
          <h3 style="font-size: 13pt;
                     color: rgb(32, 50, 81);
                     background-color: white; padding: 10px;">
          I'm a paragraph. Click here to add your<br>
          own text and edit me. It’s easy. Just click<br>
          “Edit Text” or double click me to add your <br>
          own content and make changes to the font.<br>
          Feel free to drag and drop me anywhere<br>
          you like on your page. <br>
          This is a great space to write long text<br>
          about your company and your services.<br>
          You can use this space to go into a little<br>
          more detail about your company.<br>
          Talk about your team and what services you provide.<br>
          Tell your visitors the story of how you came up with<br>
          the idea for your business and what makes<br>
          you different from your competitors.<br>
          </h3>
        </div>
      </div>
      </div>
    <div class="column" style="color: rgb(32, 50, 81); margin-top: 60px;">
      <div class="ui  Huge image" style="margin-top: -1220px; margin-left: 240px;">
        <img src="assets/images/about.jpg">
      </div>
    </div>
  </div>
