<div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href="#"><i class="fa fa-fw fa-search"></i> Bookstore</a> 
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
    <a href="#"><i class="fa fa-fw fa-user"></i> About</a>
  </div>


  <form>
     <p><input type="search" name="q" placeholder="Поиск по сайту"> 
     <input type="submit" value="Найти"></p>
    </form>
      <h1 align="center"> Our <br> BOOKSTORE </h1>

     

<router-outlet></router-outlet>
