<router-outlet></router-outlet>
<div class="ui header" style="padding-left: 165px; margin-left:100px; margin-right: 100px; color: rgb(255, 255, 255); font-size: 70pt; background-image: url('assets/images/1.jpg');">
  A SOFA,<br>
  A GOOD<br>
  BOOK,<br>
  AND YOU.
</div>

<div class="ui center aligned header" style="margin-top: 40px; color: rgb(32, 50, 81) ">
<h3 style="font-size: 16pt"> BINK. Publishers</h3>
<h1 style="font-size: 35pt; margin-top: -10px; margin-bottom: 100px"> BESTSELLERS </h1>
</div>

<div class="ui center aligned container" style="margin-top: 50px; background-color: rgb(35, 55, 90);">
  <div class="ui horizontal list" style="margin-top: -80px;">
      <div class="item">
        <img class="ui small image" src="assets/images/2.jpg"><br>
        <div class="content" style="color: white; margin-top: 15px">
          35$
        </div>
      </div>
      <div class="item">
        <img class="ui small image" src="assets/images/3.jpeg"><br>
        <div class="content" style="color: white; margin-top: 15px">
            35$
          </div>
        </div>
        <div class="item">
          <img class="ui small image" src="assets/images/4.jpg"><br>
          <div class="content" style="color: white; margin-top: 15px">
              35$
          </div>
        </div>
        <div class="item">
          <img class="ui small image" src="assets/images/5.png"><br>
          <div class="content" style="color: white; margin-top: 15px">
              35$
          </div>
        </div>
        <div class="item">
          <img class="ui small image" src="assets/images/7.jpg"><br>
          <div class="content" style="color: white; margin-top: 15px">
              35$
          </div>
        </div>
        <div class="item">
          <img class="ui small image" src="assets/images/9.jpg"><br>
          <div class="content" style="color: white; margin-top: 15px">
              35$
          </div>
        </div>
    </div><br>


<i class="sort up icon" style="color: white; margin-top: 20px;"></i>
<h3 style="font-size: 13pt; color: white"> This Month's</h3>
<h1 style="font-size: 30pt; margin-top: -10px; color: white;  "> RECOMMENDED BOOKS</h1>
<i class="sort down icon" style="color: white; margin-bottom: 20px;"></i><br>

<div class="ui horizontal list">
<div class="item">
  <img class="ui small image" src="assets/images/2.jpg"><br>
  <div class="content" style="color: white; margin-top: 15px">
    35$
  </div>
</div>
<div class="item">
  <img class="ui small image" src="assets/images/3.jpeg"><br>
  <div class="content" style="color: white; margin-top: 15px">
      35$
    </div>
  </div>
  <div class="item">
    <img class="ui small image" src="assets/images/4.jpg"><br>
    <div class="content" style="color: white; margin-top: 15px">
        35$
    </div>
  </div>
  <div class="item">
    <img class="ui small image" src="assets/images/5.png"><br>
    <div class="content" style="color: white; margin-top: 15px">
        35$
    </div>
  </div>
  <div class="item">
    <img class="ui small image" src="assets/images/7.jpg"><br>
    <div class="content" style="color: white; margin-top: 15px">
        35$
    </div>
  </div>
  <div class="item">
    <img class="ui small image" src="assets/images/9.jpg"><br>
    <div class="content" style="color: white; margin-top: 15px">
        35$
    </div>
  </div>
</div><br>

<i class="sort up icon" style="color: white; margin-top: 20px;"></i>
<h1 style="font-size: 45pt; color: white;  "> 
    THERE'S NO <br>
    SUCH THING AS TOO <br>
    MANY BOOKS</h1>
<a href="about">
<button class="ui inverted button" >Read our story</button></a><br>
<i class="sort down icon" style="color: white; margin-top: 15px; margin-bottom: 20px;"></i>

</div>

<div class="ui center aligned header" style="margin-top: 40px; color: rgb(32, 50, 81) ">
  <h3 style="font-size: 16pt"> Coming Up</h3>
  <h1 style="font-size: 35pt; margin-top: -15px;"> BOOK LAUNCH </h1>
</div>

<div class="ui two column doubling stackable grid container">
  <div class="column" style="color: rgb(32, 50, 81); margin-top: 60px;">
    <h2>Introducing The Land of AILOO</h2>
    <h4>By Mark Walker</h4>
    <h3>When</h3>
    <h4>Jul 12, 2023, 7:00 PM</h4>
    <h3>Where</h3>
    <h4>500 Terry Francois Street, San Francisco, CA, USA</h4>
    <button class="ui grey basic button">RSVP NOW</button><br>
  </div>
  <div class="column">
    <img src="assets/images/ailo.jpg" style="width: 74%; background-color: rgb(32, 50, 81); padding: 10px; ">
  </div>
</div>